a {
    text-decoration: none; /* 밑줄 제거 */
    color: rgb(80, 134, 185); /* 클릭 시 색상 변경 방지 */
}

body{
    box-sizing: border-box;
    position: relative;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;

    min-width: 1200px;
    min-height: 700px;
    width: 100%;
    height: 100vh;

    background-color: rgb(243, 243, 243);
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#background{
    position: relative;
    width: 1000px;
    height: 563px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.205);
    background-size: contain;
    background-color: white;
    margin-top:10px;
    margin-bottom:50px;
}

#menu {
    position: relative;
    display: flex;
    min-width: 180px;
    min-height: 100%;

    flex-direction: column;
    justify-content: flex-start;

    background-color: #353535;
    box-shadow: 0 0 10px 0 rgb(56, 56, 56);
}

.sub_title {
    display: flex;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.479);
    flex-direction: column;
    margin-bottom:15px;
    border-top: solid 2px #272727;
}

.sub_title > label {
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 10px;
}

#select_menu {
    display: flex;
    justify-content: center;
}

#select_menu > select {
    width: 50px;
    color:white;
    background-color: black;
    border-radius: 3px;
    margin-left:2px;
}

.menu_button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: none;
    background-color: #353535;
    color:rgba(255, 255, 255, 0.774);
    letter-spacing: 5px;
}

.active {
    background-color: #1a6dff;
    color: white;
}

#floor_info {
    color : black;
    justify-content: center;
    margin-top:10px;
}

/*//////////////////////////////////////////////////////*/
.class_info_panel {
    display: flex;
    position: absolute;
    width: 55px;
    height: 45px;
    background-color: rgb(122, 180, 255);
    color: black;
    
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;    

    top:281px;
    left:500px;

    font-size: 12px;
    text-align: center;
    z-index:0;
}


.choice_panel {
    border: 2px dashed rgb(0, 0, 0);
}

/*/////////////////////////////////////////////////////////////////////////////////*/
.info_classroom_background {
    display: none;
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.63);

    justify-content: center;
    align-items: center;
    z-index: 1;
}

.info_classroom_DIV {
    width: 400px;
    height: 430px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;

    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.274);

}

.info_classroom_DIV > h1 {
    display: flex;
    justify-content: center;
}

.info_classroom_DIV > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.info_classroom_DIV > div > label {
    margin-right: 8px;
}

.info_input {
    width: 200px;
}
.info_classroom_DIV > div > textarea {
    resize: none;
    width: 200px;
}


#delete_button {
    position: absolute;
    bottom:0px;
    z-index: 3;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-weight: bold;
    background-color: #292929;
    color:white;
    font-size: 16px;
    margin-top:10px;

    border:none;
}



/*/////////////////////////////////////////////////////////////////////////////////*/

.class_detail {
    height: 60px;
}

.checkbox {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

#loginbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #353535;
    color: rgb(255, 255, 255);
    height: 50px;
    border-top: solid 10px #292929;
}

#classroom_list {
    border: none;
    width: 710px;
    height: 480px;
    overflow: scroll;
}
#classroom_list_background {
    position: absolute;
    display: none;
    background-color: white;
    width: 80%;
    height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 7px black;
    align-items: center;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#close_iframe {
    position: absolute;
    right: -10px;
    top: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    color : white;
    background-color: rgb(160, 160, 160);
    border: none;
    box-shadow: 0 0 5px 0 rgb(150, 150, 150);
    border-radius: 100px;

    width: 40px;
    height: 40px;
    font-size: 30px;
}
#close_iframe:hover {
    background-color: rgb(255, 71, 71);
    cursor: pointer;
}

#classroom_list_focus_layer{
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.507);
    min-width: 1200px;
    width: 100%;
    height: 100%;
    z-index: 1;
}